@font-face {
    font-family: 'Rubik';
    src: url('./../fonts/Rubik-Medium.woff2') format('woff2'),
    url('./../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./../fonts/Rubik-Regular.woff2') format('woff2'),
    url('./../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./../fonts/NotoSans-Medium.woff2') format('woff2'),
    url('./../fonts/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    cursor: pointer;
}

h2,h3{
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
}


#inputName{
    width: 670px;
    background-color: #F8FAFD;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding-top: 15px; 
    padding-left: 48px;
    padding-bottom: 15px;
    margin-left: 56px;
}

.input_wrapper{
    position: relative;
}

.input_img{
    z-index: 9999;
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("./../components/lupa.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 20px;
    left: 80px;
}

.order_wrap{
    width: 165px;
    height: 34px;
    background-color: #A6B0C3;
    border-radius: 4px;
    padding: 5px 13px 5px 16px;
    color: aliceblue;
}

.card{
    width: 280px;
    height: 480px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.black{
    background-color: rgb(51, 47, 47);
    color: #000000;
}

.white{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.bgc{
    background-color: rgb(51, 47, 47);
}

